div.gallery {

    padding-top: 10px;

    div.spotlight-group {
        a.spotlight {

            width: 250px;
            height: 250px;
            margin-bottom: 10px;

            img {
                width: 250px;
                height: 250px;
                object-fit: cover;
                padding-bottom: 5px;
            }
        }
    }
}