div.gallery {

    padding-top: 10px;

    div.spotlight-group {
        a.spotlight {

            width: 250px;
            height: 250px;
            margin-bottom: 10px;

            img {
                width: 175px;
                height: 175px;
                object-fit: cover;
                padding-bottom: 5px;
            }

            @media (min-width: 576px) {
                img {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}

.subtitle {
    font-size: 1.2rem;
}

img[alt=Project] {
    width: 65%;
}

.text-justify {
    text-align: justify;
}